@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background-color: rgb(3, 3, 3);
  color: white;
  overflow-x: hidden;
}

marquee {
  background-color: #202020;
}

.navegacion {
  list-style-type: none;
  text-align: center;
  padding: 10px;
  margin: 20px;
}

.navegacion li {
  display: inline;
  margin-left: 10px;
}

.navegacion-link {
  color: white;
  text-decoration: none;
}

.active {
  color: #1649FF;
}

.tiktok {
  width: 60px;
  position: relative;
  left: 1000px;
}

.twitter {
  width: 60px;
  position: relative;
  left: 550px;
}

h1 {
  text-align: center;
}

.linea-separacion {
  border-top: 1px solid #ffffff;
  position: relative;
  bottom: 120px;
}

p {
  text-align: center;
}

.logo {
  display: flex;
  margin: 0;
  padding: 0;
  position: sticky;
  position: relative;
  bottom: 100px;
  width: 120px;
  left: 40px;
  height: auto;
}

.maps {
  text-align: center;
}

iframe {
  border: 1px solid rgb(255, 255, 255);
  border-radius: 15px;
}

.consulta {
  text-align: left;
}

.search-bar {
  width: 300px;
  height: 70px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  left: 480px;
}

.procesador-titulo {
  text-align: center;
}

.card-img {
  min-height: 60%;
  max-height: 60%;
}

.parrafo {
  position: relative;
  bottom: 30px;
}

.titulos {
  margin-bottom: 30px;
}

.reloj {
  position: relative;
  bottom: 35px;
  right: 82px;
}

.btn-comprar {
  background-color: white;
  position: relative;
  display: flex;
  margin: auto;
  transition: 0.5s;
  width: 40%;
}

.btn-comprar:hover  {
  border: 1px solid white;
}

.btn-comprar i {
  margin-top: 5px;
  margin-right: 5px;
}

.ping {
  position: relative;
  right: 435px;
  top: 45px;
}

.footer-redes {
  display: flex;
  justify-content: space-around;
  font-size: 40px;
}

footer div a {
  background: -webkit-linear-gradient(#d8d8d8, #0a84b4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

footer div a:hover {
  background: -webkit-linear-gradient(#0a84b4, #d8d8d8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(1.19, 1.19) rotate(0) skew(0, 0) translate(0, 0);
  transition: 0.5s;
}

.informacion-footer {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-top: 100px;
}

.informacion-footer h3 {
  font-size: 50px;
}

.form-container {
  width: 50%;
  font-size: 14px;
  font-family: inherit;
  color: white;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.form-container .form-group label {
  display: block;
  margin-bottom: 5px;
  color: #717171;
  font-weight: 600;
  font-size: 14px;
}

.form-container .form-group input {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  color: #fff;
  font-family: inherit;
  background-color: transparent;
  border: 1px solid #414141;
}

.form-container .form-group textarea {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  resize: none;
  color: #fff;
  height: 96px;
  border: 1px solid #414141;
  background-color: transparent;
  font-family: inherit;
}

.form-container .form-group input::placeholder {
  opacity: 0.5;
}

.form-container .form-group input:focus {
  outline: none;
  border-color: rgb(5, 129, 245);
}

.form-container .form-group textarea:focus {
  outline: none;
  border-color: rgb(5, 129, 245);
}

.form-container .form-submit-btn {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  align-self: flex-start;
  font-family: inherit;
  color: #717171;
  font-weight: 600;
  width: 100%;
  background: #313131;
  border: 1px solid #414141;
  padding: 12px 16px;
  font-size: inherit;
  gap: 8px;
  margin-top: 8px;
  cursor: pointer;
  border-radius: 6px;
}

.form-container .form-submit-btn:hover {
  background-color: #fff;
  border-color: #fff;
}

/* FORM BUSCAR COMPONENTES/PERIFERICOS */
.search {
  --input-line: #cccccc;
  --input-text-color: #808080;
  --input-text-hover-color: transparent;
  --input-border-color: #808080;
  --input-border-hover-color: #999999;
  --input-bg-color: #333333;
  --search-max-width: 250px;
  --search-min-width: 150px;
  --border-radius: 5px;
  --transition-cubic-bezier: 150ms cubic-bezier(0.4,0,0.2,1);
}

.search-box {
  margin: auto;
  margin-bottom: 15px;
  max-width: var(--search-max-width);
  min-width: var(--search-min-width);
  height: 35px;
  border: 1px solid var(--input-border-color);
  border-radius: var(--border-radius);
  padding: 5px 15px;
  background: var(--input-bg-color);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  transition: var(--transition-cubic-bezier);
}

.search-box:hover {
  border-color: var(--input-border-hover-color);
}

.search-field {
  position: relative;
  width: 100%;
  height: 100%;
  left: -5px;
  border: 0;
}

.input {
  width: calc(100% - 29px);
  height: 100%;
  border: 0;
  border-color: transparent;
  font-size: 1rem;
  padding-right: 0px;
  color: var(--input-line);
  background: var(--input-bg-color);
  border-right: 2px solid var(--input-border-color);
  outline: none;
}

.input::-webkit-input-placeholder {
  color: var(--input-text-color);
}

.input::-moz-input-placeholder {
  color: var(--input-text-color);
}

.input::-ms-input-placeholder {
  color: var(--input-text-color);
}

.input:focus::-webkit-input-placeholder {
  color: var(--input-text-hover-color);
}

.input:focus::-moz-input-placeholder {
  color: var(--input-text-hover-color);
}

.input:focus::-ms-input-placeholder {
  color: var(--input-text-hover-color);
}

.search-box-icon {
  width: 52px;
  height: 35px;
  position: absolute;
  top: -6px;
  right: -21px;
  background: transparent;
  border-bottom-right-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  transition: var(--transition-cubic-bezier);
}

.search-box-icon:hover {
  background: var(--input-border-color);
}

.btn-icon-content {
  width: 52px;
  height: 35px;
  top: -6px;
  right: -21px;
  background: transparent;
  border: none;
  cursor: pointer;
  border-bottom-right-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  transition: var(--transition-cubic-bezier);
  opacity: 0.4;
}

.btn-icon-content:hover {
  opacity: 0.8;
}

.search-icon {
  width: 21px;
  height: 21px;
  position: absolute;
  top: 7px;
  right: 15px;
}

a {
  text-decoration: none;
  color: #1649FF;
}

.mobile-nav {
  display: none;
}

.puntuacion {
  display: flex;
}

.card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 420px;
  border-radius: 24px;
  line-height: 1.6;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  padding: 36px;
  border-radius: 22px;
  color: #ffffff;
  overflow: hidden;
  background: #242424;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.content::before {
  position: absolute;
  content: "";
  top: -4%;
  left: 50%;
  width: 90%;
  height: 90%;
  transform: translate(-50%);
  background: #4747475b;
  z-index: -1;
  transform-origin: bottom;

  border-radius: inherit;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.content::after {
  position: absolute;
  content: "";
  top: -8%;
  left: 50%;
  width: 80%;
  height: 80%;
  transform: translate(-50%);
  background: #47474788;
  z-index: -2;
  transform-origin: bottom;
  border-radius: inherit;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.content svg {
  width: 48px;
  height: 48px;
}

.content .para {
  z-index: 1;
  opacity: 1;
  font-size: 18px;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.content .link {
  z-index: 1;
  color: #fea000;
  text-decoration: none;
  font-family: inherit;
  font-size: 16px;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.content .link:hover {
  text-decoration: underline;
}

.card:hover {
  transform: translate(0px, -16px);
}

.card:hover .content::before {
  rotate: -8deg;
  top: 0;
  width: 100%;
  height: 100%;
}

.card:hover .content::after {
  rotate: 8deg;
  top: 0;
  width: 100%;
  height: 100%;
}

footer h5 {
  margin: 40px;
  text-align: center;
}

.footer-datos {
  text-align: center;
  display: block;
  margin: 20px;
}

.footer-datos h3 {
  margin: 30px;
}

.linea-footer {
  width: 85%;
  margin: auto;
  margin-top: 40px;
}

.login {
  font-size: 20px;
  border: 3px solid rgb(68, 68, 68);
  padding: 5px;
  border-radius: 10px;
  transition: 0.5s;
}

.login:hover {
  border-radius: 40%;
  transition: 0.5s;
  border: 3px solid rgb(110, 110, 110);
}

// LOGIN

.form_main {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 30px 30px 30px;
  border-radius: 30px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.062);
  margin: auto;
}

.form_main a {
  font-size: 15px;
  color: #1648ff62;
}

.heading {
  font-size: 2.5em;
  color: #a7a7a7;
  font-weight: 700;
  margin: 15px 0 30px 0;
}

.inputContainer {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inputIcon {
  position: absolute;
  left: 10px;
}

.inputField {
  width: 100%;
  height: 40px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid rgb(173, 173, 173);
  border-radius: 30px;
  margin: 10px 0;
  color: white;
  font-size: .8em;
  font-weight: 500;
  box-sizing: border-box;
  padding-left: 30px;
}

.inputField:focus {
  outline: none;
  border-bottom: 2px solid #5865F2;
}

.inputField::placeholder {
  color: #a7a7a7;
  font-size: 1em;
  font-weight: 500;
}

#button {
  position: relative;
  width: 100%;
  border: 2px solid #5865F2;
  background-color: #5865F2;
  height: 40px;
  color: white;
  font-size: .8em;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 30px;
  margin: 10px;
  cursor: pointer;
  overflow: hidden;
}

#button::after {
  content: "";
  position: absolute;
  background-color: rgba(255, 255, 255, 0.253);
  height: 100%;
  width: 150px;
  top: 0;
  left: -200px;
  border-bottom-right-radius: 100px;
  border-top-left-radius: 100px;
  filter: blur(10px);
  transition-duration: .5s;
}

#button:hover::after {
  transform: translateX(600px);
  transition-duration: .5s;
}

// PAGO
.pago-form {
  background-color: #30303083;
  border: 2px solid rgba(128, 128, 128, 0.411);
  width: 60%;
  margin: auto;
  padding: 15px;
  border-radius: 15px;
}

.pago-form h4 {
  text-align: center;
  font-weight: bold;
}

.pago-form form label span {
  color: green;
}

.pago-grupo label {
  display: block;
  margin: 10px;
}

.pago-grupo input {
  border: none;
  border-radius: 5px;
  padding: 5px;
}

.pago-parte {
  display: flex;
  justify-content: space-around;
}

.Btn {
  width: 130px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(63, 63, 63);
  border: none;
  color: white;
  font-weight: 600;
  gap: 8px;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.103);
  position: relative;
  overflow: hidden;
  transition-duration: .3s;
  margin: auto;
  margin-top: 50px;
}

.svgIcon {
  width: 16px;
}

.svgIcon path {
  fill: white;
}

.Btn::before {
  width: 130px;
  height: 130px;
  position: absolute;
  content: "";
  background-color: white;
  border-radius: 50%;
  left: -100%;
  top: 0;
  transition-duration: .3s;
  mix-blend-mode: difference;
}

.Btn:hover::before {
  transition-duration: .3s;
  transform: translate(100%,-50%);
  border-radius: 0;
}

.Btn:active {
  transform: translate(5px,5px);
  transition-duration: .3s;
}

// BARRA MARCAS

@mixin white-gradient {
	background: linear-gradient(to right,  rgb(24, 24, 24) 0%,rgba(255,255,255,0) 100%);
}

$animationSpeed: 30s;

@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 7))}
}

.slider {
	background: rgb(26, 26, 26);
	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
	height: 100px;
	margin: auto;
	overflow:hidden;
	position: relative;
	width: 100%;
  margin-top: 50px;
	
	&::before,
	&::after {
		@include white-gradient;
		content: "";
		height: 100px;
		position: absolute;
		width: 200px;
		z-index: 2;
	}
	
	&::after {
		right: 0;
		top: 0;
		transform: rotateZ(180deg);
	}

	&::before {
		left: 0;
		top: 0;
	}
	
	.slide-track {
		animation: scroll $animationSpeed linear infinite;
		display: flex;
		width: calc(250px * 14);
	}
	
	.slide {
		height: 100px;
		width: 250px;
	}
}

@media only screen and (max-width: 630px) {
  p {
    font-size: 20px;
  }
  form {
    margin-top: 15%;
    width: 80%;
    margin: auto;
  }
  footer {
    margin-top: 30%;
  }
  li {
    font-weight: bold;
  }
  iframe {
    width: 90%;
  }
  footer h5 {
    margin-top: 10px;
    width: 80%;
  }
  .carousel {
    margin-top: 20%;
  }
  .informacion-footer {
    margin: 40% 0 40% 0;
    display: block;
  }
  .informacion-footer div p {
    font-size: 20px;
  }
  .maps h4 {
    margin-top: 10%;
  }
  .logo {
    display: none;
  }
  .navegacion a {
    display: block;
    font-size: 20px;
  }
  .linea-separacion {
    border: 5px solid rgb(134, 134, 134);
    margin-top: 35%;
  }
  .form-pagar .form-group label {
    font-size: 18px;
  }
  .login {
    width: 15%;
    margin: auto;
  }
  .form_main {
    width: 100%;
    font-size: 18px;
  }
  .card {
    margin: auto;
    margin-top: 50px;
  }
  .btn-comprar {
    width: 30%;
  }
  .pago-form {
    width: 90%;
  }
  .pago-form h3 {
    margin-bottom: 20px;
    text-align: center;
  }
  .pago-form form label {
    text-align: center;
  }
  .pago-parte {
    display: block;
    text-align: center;
  }
}


/*# sourceMappingURL=style.scss.map */
